# Python Functions

In [5]:
def add (a,b):
    return a + b

print(add(3, 5))

8

In [4]:
def calculate_numbers (a,b):
    sum_result = a + b
    diff_result = a - b
    prod_result = a * b
    if b != 0:
        quot_result = a / b
    else:
        quot_result = None
    return sum_result, diff_result, prod_result, quot_result

result = calculate_numbers(10, 2)
print("Sum:", result[0])
print("Difference:", result[1])
print("Product:", result[2])
print("Quotient:", result[3])

Sum: 12
Difference: 8
Product: 20
Quotient: 5.0

Python funtion call square_sum to calculate the sum of square numbers from 1 to any given n

In [ ]:
def square_sum(n):
    total = 0
    for i in range(1, n + 1):
        total += i ** 2
    return total

print(square_sum(5))

55

Python Funtion name add_corresponding_numbers that takes two lists of numbers as input and returns a new list containing the sum of correspoding elements from both lists

* if the two list a not equal lenth, you should display and error message

In [13]:
def add_corresponding_numbers(list1, list2):
    if len(list1) != len(list2):
        return "Error: Lists are not of equal length."
    
    new_list = []
    for i in range(len(list1)):
        new_list.append(list1[i] + list2[i])
    return new_list
    
list1 = [1, 2, 3]
list2 = [4, 5, 6]

result = add_corresponding_numbers(list1, list2)
print(result)

[5, 7, 9]

In [12]:
def add_corresponding_numbers(list1, list2):
    if len(list1) != len(list2):
        return "Error: Lists are not of equal length."
    else:
        sum_list = []
        for i in range(len(list1)):
            sum_list.append(list1[i] + list2[i])
        return sum_list

list1 = [1, 2, 3]
list2 = [4, 5, 6]

result = add_corresponding_numbers(list1, list2)
print(result)

[5, 7, 9]

<h3 style = "color: blue">Default Arguments</h3>

In [14]:
def add (a, b=10):
    return a + b

print(add(3, 5))
print(add(7))  # uses default value of b
# print(add(4, 15, 20))  # Error: too many arguments

8
17

In [ ]:
#valid example
def func(a, b=5, c=10):
    print (a, b, c)


# invalid example
# def func(a=5, b, c=10):
#     print (a, b, c)

Python funtion name calculate_total thats calculates and returns the total cost after applying a discount.
The funtion should
* Take price as a required arguments
* Use Quentity as an optional arguments with a defult value of one
* use discount as and optional argument with a defult value of zero
* apply the discount as a presentage on the total price

In [28]:
def calculate_total(price, quantity=1, discount=0):
    total_price = price * quantity
    discount_amount = total_price * (discount / 100)
    final_price = total_price - discount_amount
    return final_price

# total = calculate_total(price=100, quantity=2, discount=10)
total = calculate_total(100, 2, 10)
# total = calculate_total(100, 2)
# total = calculate_total(100)
print("Total Cost with discount:", total)

Total Cost with discount: 180.0

Keyword Arguments

In [30]:
def add (a, b):
    return a + b

print(add(a=3, b=2))
print(add(b=6, a=4))

5
10

<h3 style = "color: blue">Positional Arguments</h3>

In [ ]:
# arbitrary positional arguments

def arbitrary_positional_arguments(*args):
    print(args)
    print(type(args))

print(arbitrary_positional_arguments(1))
print(arbitrary_positional_arguments(1, 2))
print(arbitrary_positional_arguments(1, 2, 3))
print(arbitrary_positional_arguments(1, 2, 3, 4))
print(arbitrary_positional_arguments(1, 2, 3, 4, 5))

(1,)
<class 'tuple'>
None
(1, 2)
<class 'tuple'>
None
(1, 2, 3)
<class 'tuple'>
None
(1, 2, 3, 4)
<class 'tuple'>
None
(1, 2, 3, 4, 5)
<class 'tuple'>
None

In [32]:
def arbitrary_positional_args(*args):
    print(args)
    print(type(args))

    for value in args:
        print(value)
        
arbitrary_positional_args(10, 20, 30)

(10, 20, 30)
<class 'tuple'>
10
20
30

Python Funtion name sum_numbers that accepts any number of numeric arguments and returns there sum

In [ ]:
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

print(sum_numbers(1, 2, 3))
print(sum_numbers(10, 20, 30, 40, 50))

6
150

Python Funtion name average_positive that accept any number of numeric arguments. calculate the average of all positive numbers only.if no positive numbers are provided, the funtion should display no positive numbers provided

In [37]:
def average_positive(*args):
    positive_numbers = [num for num in args if num > 0]
    if not positive_numbers:
        return "No positive numbers provided"
    average = sum(positive_numbers) / len(positive_numbers)
    return average

print(average_positive(1, -2, 3, -4, 5))
print(average_positive(-1, -2, -3))
print(average_positive(-1, 1, 2, 3, 4))

3.0
No positive numbers provided
2.5

In [38]:
def average_positive(*numbers):
    total = 0
    count = 0

    for num in numbers:
        if num > 0:
            total += num
            count += 1

    if count == 0:
        return "No positive numbers provided"
    else:
        return total / count
    
print(average_positive(1, -2, 3, -4, 5))
print(average_positive(-1, -2, -3))
print(average_positive(-1, 1, 2, 3, 4))

3.0
No positive numbers provided
2.5

In [ ]:
# Arbitarary Keyword Arguments (**kwargs)

def arbitrary_keyword_arguments(**kwargs):
    print(kwargs)
    print(type(kwargs))

arbitrary_keyword_arguments(name="Kavi", age=22, city="Galle")

{'name': 'Kavi', 'age': 22, 'city': 'Galle'}
<class 'dict'>

In [46]:
def arbitrary_keyword_arguments(**kwargs):

    for key in kwargs.keys():
        print(key)

    for value in kwargs.values():
        print(value)

arbitrary_keyword_arguments(name="Kavi", age=22, city="Galle")

name
age
city
Kavi
22
Galle

In [48]:
def arbitrary_keyword_arguments(**kwargs):

    for key, value in kwargs.items():
        print(key, ":",  value)

arbitrary_keyword_arguments(name="Kavi", age=22, city="Galle")

name : Kavi
age : 22
city : Galle

Python Function name average score that: 

- accept any number of keyword arguments whare 
    * keys are subject name (like math physics)
    * values are scores obtain in each subject 

- calculate and print the average score of all subjects

- if no subjects are provided, then print no subject provided

In [57]:
def average_score(**kwargs):
    if not kwargs:
        print("No subject provided")
        return

    total_score = sum(kwargs.values())
    number_of_subjects = len(kwargs)
    average = total_score / number_of_subjects
    print("Average Score:", average)

average_score(math=75, physics=90, chemistry=85)
average_score(english=80, history=80)
average_score(english=50, history=50, math=50, physics=50, chemistry=0)
average_score()

Average Score: 83.33333333333333
Average Score: 80.0
Average Score: 40.0
No subject provided

# Built-in Functions in Python

Absolute Value

In [ ]:
def absolute_value(num):
    if num < 0:
        return -num
    else:
        return num
    
print(absolute_value(-10))
print(absolute_value(5))

10
5

In [2]:
print(abs(-5))
print(abs(10))
print(abs(-3.7))

5
10
3.7

map()

In [3]:
def find_square(x):
    return x ** 2

list_1 = [6, 3, 4, 8]

result = map(find_square, list_1)

print(result)
print(type(result))

print(list(result))

<map object at 0x000001FFE37BE920>
<class 'map'>
[36, 9, 16, 64]

Write a Function convert_to_celsius that covers a Fahrenheit temperature to celsius, rounded to two decimal places. Then use the map function to convert the list [32, 68, 77] to celsius and print the result in list 
* celsius = ( fahrenheit - 32 ) * 5 / 9

In [ ]:
def convert_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

fahrenheit_temps = [32, 68, 77]
celsius_temps = map(convert_to_celsius, fahrenheit_temps)

print(list(celsius_temps))

[0.0, 20.0, 25.0]

In [10]:
def convert_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return round(celsius, 2)

fahrenheit_temps = [32, 68, 77]
celsius_temps = map(convert_to_celsius, fahrenheit_temps)

print(list(celsius_temps))

[0.0, 20.0, 25.0]

Use the map function with two lists to add their corresponding elements and print the result in list.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

def corresponding_list(list1, list2):
    return list1 + list2

result = map(corresponding_list, list1, list2)

print(result)
print(list(result))

<map object at 0x0000015A022FFB50>
[5, 7, 9]

In [14]:
# Filter function

list_numbers = [10, 9, 4, 8, 11]

def filter_even_numbers(num):
    return num % 2 == 0

even_numbers = filter(filter_even_numbers, list_numbers)

print(list(even_numbers))

[10, 4, 8]

Use the Filter Function to extract all numbers From the list [12, 15, 18, 20, 25, 30, 35] that are devisable by 3 but not by 5, and print the result in list

In [15]:
list_numbers = [12, 15, 18, 20, 25, 30, 35]

def find_divisible_by_3_not_5(num):
    return num % 3 == 0 and num % 5 != 0

result = filter(find_divisible_by_3_not_5, list_numbers)
print(list(result))

[12, 18]

Python Lambda Functions

In [16]:
add = lambda x, y: x + y

print(add(3, 4))

7

Write a Lambda Function to find the maximum of two numbers

In [18]:
maximum = lambda x, y: x if x > y else y

print(maximum(10, 20))
print(maximum(30, 15))

20
30

Use a Lambda Function with the map function to square all numbers in a list and print the result in the list

In [22]:
list_numbers = [1, 2, 3, 4, 5, 6]

squared_numbers = map(lambda x: x ** 2, list_numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25, 36]

Use a Lambda Function with the filter function to extract all numbers from a list that are devicible by 3 but not by 5, and print the result in list

In [ ]:
list_numbers = [12, 15, 18, 20, 25, 30, 35]

result = filter(lambda x: x % 3 == 0 and x % 5 != 0, list_numbers)
print(list(result))

[12, 18]