In [9]:
##Tuple

sports = ("tennis", "cricket", "football")
print(sports)
print(type(sports))
print(sports[1])

('tennis', 'cricket', 'football')
<class 'tuple'>
cricket

In [10]:
#sports[1] = "baseball" #ERROR - 'tuple' object does not support item assignment

In [11]:
sports = ("tennis", "cricket", "football", "tennis")
print(sports)

('tennis', 'cricket', 'football', 'tennis')

In [12]:
sports = ("tennis")
print(type(sports))

<class 'str'>

In [13]:
sports = ("tennis",)
print(type(sports))

<class 'tuple'>

In [14]:
sports = ("tennis", "cricket", "football")
x = list(sports)
print(x, type(x))
x[1] = "baseball"
sports = tuple(x)
print(sports, type(sports))

['tennis', 'cricket', 'football'] <class 'list'>
('tennis', 'baseball', 'football') <class 'tuple'>

In [15]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

print(nested_tuple)
print(nested_tuple[2][0])
print(nested_tuple[1][1])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
True
b

In [16]:
sports = {"tennis", "cricket", "football"}
print(sports)
print(type(sports))
# print(sports[1]) #ERROR - 'set' object is not subscriptable

{'cricket', 'tennis', 'football'}
<class 'set'>

In [17]:
sports = {"tennis", "cricket", "football", "tennis"}
print(sports)
print(type(sports))

#duplicate values are not allowed in set

{'cricket', 'tennis', 'football'}
<class 'set'>

In [18]:
sports = {"tennis", "cricket", "football"}
print(len(sports))

3

In [19]:
sports = {"tennis", "cricket", "football"}
sports.add("soccer")
print(sports)

{'cricket', 'tennis', 'football', 'soccer'}

In [20]:
sports = {"tennis", "cricket", "football"}
sports.update(["baseball", "hockey"])
print(sports)

{'baseball', 'football', 'cricket', 'tennis', 'hockey'}

In [21]:
sports= {"tennis", "cricket", "football"}
sports.remove("cricket")
print(sports)

{'tennis', 'football'}

In [22]:
my_var = range(1, 17, 3)
print(my_var)

range(1, 17, 3)

In [23]:
print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])
print(my_var[4])
print(my_var[5])
# print(my_var[6]) #ERROR - IndexError: range object index out of range

1
4
7
10
13
16

In [24]:
range_1 = range(3,8)
print(range_1)
print(range_1[0])
print(range_1[1])
print(range_1[2])
print(range_1[3])
print(range_1[4])

range(3, 8)
3
4
5
6
7

In [25]:
range_2 = range(13)
print(range_2)
print(range_2[0])
print(range_2[1])
print(range_2[2])
print(range_2[3])
print(range_2[12])

range(0, 13)
0
1
2
3
12

In [26]:
item_1 = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 175.00
}

print(item_1)
print(type(item_1))

{'name': 'Sugar', 'weight': '1kg', 'price': 175.0}
<class 'dict'>

In [27]:
dict_1 = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 175.00
}

print(item_1)
print(type(item_1))
print(dict_1["name"])

{'name': 'Sugar', 'weight': '1kg', 'price': 175.0}
<class 'dict'>
Sugar

In [28]:
dict_1["price"] = 180.00
print(dict_1)

{'name': 'Sugar', 'weight': '1kg', 'price': 180.0}

In [29]:
# dictionary is not allowed duplicates

dict_1 = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 175.00,
    "name": "Salt"
}

print(item_1)
print(type(item_1))
print(dict_1["name"])

{'name': 'Sugar', 'weight': '1kg', 'price': 175.0}
<class 'dict'>
Salt

In [30]:
my_dict = {
    "name": "Kaveen",
    "age": 22,
    "is_student": True
}

In [31]:
dict_1 = {
    "name": "Suger",
    "weight": "1kg",
    "price": 175.00
}

print(dict_1.get("price", 50.00))

175.0

In [32]:
dict_1 = {
    "name": "Suger",
    "weight": "1kg",
    # "price": 175.00
}

print(dict_1.get("price", 50.00))
print(dict_1)

50.0
{'name': 'Suger', 'weight': '1kg'}

In [33]:
this_dist = {
    "name": "ERT",
    "age": 33,
    "is_student": False
}

this_dist["address"] = "Akurassa"
print(this_dist)

{'name': 'ERT', 'age': 33, 'is_student': False, 'address': 'Akurassa'}

In [34]:
this_dist = {
    "name": "Suger",
    "weight": "1kg",
    "price": 130.35
}

this_dist.update({"weight": "2kg", "expire_date": "2024-12-31"})
print(this_dist)

{'name': 'Suger', 'weight': '2kg', 'price': 130.35, 'expire_date': '2024-12-31'}

In [35]:
this_dist = {
    "name": "Suger",
    "weight": "1kg",
    "price": 130.35
}

print(this_dist)

this_dist.pop("weight")

{'name': 'Suger', 'weight': '1kg', 'price': 130.35}

'1kg'

In [36]:
this_dist = {
    "name": "Suger",
    "weight": "1kg",
    "price": 130.35
}

print(this_dist)

del this_dist["weight"]

{'name': 'Suger', 'weight': '1kg', 'price': 130.35}

In [37]:
this_dist = {
    "name": "Suger",
    "weight": "1kg",
    "price": 130.35
}

print(this_dist)

this_dist.clear()

{'name': 'Suger', 'weight': '1kg', 'price': 130.35}

In [38]:
#Arithmetic Operators - Addition

x = 5
y = 2

print(x+y)

7

In [39]:
#Arithmetic Operators - Subtraction

x = 5
y = 2

print(x-y)

3

In [40]:
#Arithmetic Operators - Multiplication

x = 5
y = 2

print(x*y)

10

In [41]:
x = 5
y = 2

print(x ** y) # 5^2 = 25

25

In [42]:
#Arithmetic Operators - Devision

x = 2
y = 9

print (y/x)

4.5

In [43]:
#Arithmetic Operators - Floor Division

x = 2
y = 9

print (y//x)

4

In [44]:
#Arithmetic Operators - Modulus

x = 2
y = 9

print (y%x)

1

In [45]:
#Assignment Operators - Assignment

x = 5
print(x)

5

In [46]:
#Assignment Operators - Add and Assign

x = 5
x += 7
print(x)

12

In [47]:
#Assignment Operators - Subtract and Assign

x = 5
x -= 7
print(x)

-2

In [48]:
#Assignment Operators - Multiply and Assign

x = 5
x *= 7
print(x)

35

In [49]:
#Assignment Operators - Devide and Assign

x = 5
x /= 7
print(x)

0.7142857142857143

In [50]:
#Assignment Operators - Modulus and Assign

x = 5
x %= 7
print(x)

5

In [51]:
#Assignment Operators - Exponentiation and Assign

x = 5
x **= 7
print(x)

78125

In [52]:
#Assignment Operators - Floor Division and Assign

x = 5
x //= 7
print(x)

0

In [53]:
#Comparison Operators - Equal to

x = 5
y = 2
print(x == y)

False

In [54]:
#Comparison Operators - Not Equal to

x = 5
y = 6
print(x != y)

True

In [55]:
#Comparison Operators - Less Than

x = 5
y = 6
print(x < y)

True

In [56]:
#Comparison Operators - Greater Than

x = 5
y = 6
print(x > y)

False

In [57]:
#Comparison Operators - Less Than or Equal to

x = 5
y = 6
print(x <= y)

True

In [58]:
#Comparison Operators - Greater Than or Equal to

x = 5
y = 6
print(x >= y)

False

In [59]:
# Write a short block of code that checks if the list product_ids contains any duplicate values.Your final answer, True or False, should be stored in a variable call has_duplicates. You should aim for the time efficiant solution

product_ids = ["101", "102", "103", "104", "105", "106", "107", "103", "109"]

unique_product_ids = set(product_ids)
has_duplicates = len(product_ids) > len(unique_product_ids)
print(has_duplicates)

True

In [60]:
product_ids = [101, 102, 103, 104, 105, 106, 107, 103, 109]

unique_product_ids = set(product_ids)
has_duplicates = len(product_ids) < len(unique_product_ids)
print(has_duplicates)

False

In [61]:
#Logical Operators - Logical AND

x = 5
y = 6

print(x > 1 and y < 10)

True

In [62]:
#Logical Operators - Logical OR

x = 5
y = 6

print(x > 6 or y < 10)

True

In [63]:
#Logical Operators - Logical Not

x = 5
print(not(x > 1))

False

In [64]:
#Identity Operators - is

x = 5
y = 6
print(x is y)

False

In [65]:
#Identity Operators ( -5 to 256)

x = 5
y = 5
print(x is y)

True

In [66]:
#Identity Operators ( -5 to 256)

x = 256
y = 256
print(x is y)

True

In [67]:
#Identity Operators

x = 500
y = 500
print(x is y)

False

In [68]:
#Identity Operators - is not

x = 5
y = 6
print(x is not y)

True

In [69]:
#Identity Operators - String Interning

x = "name"
y = "name"
print(x is y)

True

In [70]:
#Membership Operators - in

nums = [1, 2, 3, 4, 5]
print(1 in nums)
print(10 in nums)

True
False

In [71]:
#Membership Operators - not in

nums = [1, 2, 3, 4, 5]
print(1 not in nums)
print(10 not in nums)

False
True

In [72]:
#Bitwise Operators - AND

x = 5  # 0101
y = 10 # 1010
z = x & y
print(z) # 0000 = 0

0

In [73]:
#Bitwise Operators - OR

x = 5  # 0101
y = 10 # 1010
z = x | y
print(z) # 1111 = 15

15

In [74]:
#Bitwise Operators - XOR

x = 5  # 0101
y = 10 # 1010
z = x ^ y
print(z) # 1111 = 15

15

In [78]:
#Bitwise Operators - NOT

x = 5  # 0101
y = ~x
print(y) # 1010 = -6

-6

In [80]:
result = 5 + 3 * 2 ** 2 > 15 and 10 - 2 * 3 == 4 or not 10 % 5 ==0
print(result)

True