In [1]:
print("Hello World!!!")

Hello World!!!

In [2]:
a=1
b=2
print(a+b)

3

In [3]:
my_var =5.0
print(my_var)
print(type(my_var))

5.0
<class 'float'>

In [4]:
a = 2 + 3j
print(a, type(a))

(2+3j) <class 'complex'>

In [5]:
a = 6.5e7
print(a)

65000000.0

In [6]:
a = 5
print(a, type(a))

b = float(a)
print(b, type(b))

5 <class 'int'>
5.0 <class 'float'>

In [7]:
a = 5.8
print(a, type(a))

b = int(a)
print(b, type(b))

5.8 <class 'float'>
5 <class 'int'>

In [8]:
my_list = [10, 12, 8, 9, 11]

print(my_list)
print(type(my_list))

print(my_list[2])

[10, 12, 8, 9, 11]
<class 'list'>
8

In [9]:
x = 5
print(id(x))

x = 6
print(id(x))

140734787318824
140734787318856

In [10]:
print(id(my_list))
my_list[2] = 50
print(my_list)
print(id(my_list))

2553457969536
[10, 12, 50, 9, 11]
2553457969536

In [11]:
print(len(my_list))

5

In [12]:
my_list = [10, 12, "cat", True, 12.5]
print(my_list)

[10, 12, 'cat', True, 12.5]

In [13]:
my_list = [10, 12, 8, 9, 22, 7]
print(my_list[1:4])

[12, 8, 9]

In [14]:
print(my_list[:4])

[10, 12, 8, 9]

In [15]:
print(my_list[2:])

[8, 9, 22, 7]

In [16]:
my_list = [10, 12, 8, 9, 22, 20, 5, 11]
print(my_list[1:7:2])

[12, 9, 20]

In [17]:
print(my_list[-4])

22

In [18]:
my_list[2:5] = [50, 70, 60]
print(my_list)

[10, 12, 50, 70, 60, 20, 5, 11]

In [19]:
my_list.insert(2, 77)
print(my_list)

[10, 12, 77, 50, 70, 60, 20, 5, 11]

In [20]:
# my_list.append(15)
my_list.append(66)
print(my_list)

[10, 12, 77, 50, 70, 60, 20, 5, 11, 66]

In [21]:
my_list = ["Dog", "Cat", "Rabbit"]

my_list.remove("Cat")
print(my_list)

['Dog', 'Rabbit']

In [22]:
my_list = ["Dog", "Cat", "Rabbit"]

new_var = my_list.pop(1)
print(my_list)
print(new_var)

['Dog', 'Rabbit']
Cat

In [23]:
my_list = ["Dog", "Cat", "Rabbit"]

del my_list[1]
print(my_list)

['Dog', 'Rabbit']

In [24]:
my_list = ["ERT", "Tharindu", "Shehan"]

del my_list
# print(my_list) - Error
# ---------------------------------------------------------------------------
# NameError                                 Traceback (most recent call last)
# Cell In[56], line 4
#       1 my_list = ["ERT", "Tharindu", "Shehan"]
#       3 del my_list
# ----> 4 print(my_list)

# NameError: name 'my_list' is not defined

In [25]:
my_list = ["ERT", "Tharindu", "Shehan"]

my_list.clear()
print(my_list)
print(len(my_list))

[]
0